body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-weight: 500;
    font-size: 30px;
}
h3{
    font-weight: 500;
}
p{
    text-align: justify;
    color: dimgray;
}
section{
    height: 500px;
    margin-bottom: 200px;
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
.link-btn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
}
.dream-area{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: ;
}